<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
        <title>Team Profile</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-5">
            <span class="navbar-brand mb-0 h1 w-100 text-center">Generated Team</span>
        </nav>
        <div class="container">
            <div class="row"><div class="col-6">
            <div class="card mx-auto mb-3" style="width: 18rem">
            <h5 class="card-header fab fa-etsy">Bill Jenkins<br /><br />Engineer</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: 234</li>
                <li class="list-group-item">Email Address: billj@gmail.com</li>
                <li class="list-group-item">GitHub: billyg</li>
            </ul>
            </div>
        </div><div class="col-6">
            <div class="card mx-auto mb-3" style="width: 18rem">
            <h5 class="card-header fab fa-monero">Tom Harris<br /><br />Intern</h5>
            <ul class="list-group list-group-flush fab fa-invision">
                <li class="list-group-item">ID: 874</li>
                <li class="list-group-item">Email Address: tommyh@gmail.com</li>
                <li class="list-group-item">School: UCLA</li>
            </ul>
            </div>
        </div><div class="col-6">
            <div class="card mx-auto mb-3" style="width: 18rem">
            <h5 class="card-header">Darrel Billings<br /><br />Manager</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: 485</li>
                <li class="list-group-item">Email Address: darrelbill@gmail.com</li>
                <li class="list-group-item">Office Phone: 234-454-3432</li>
            </ul>
            </div>
        </div> </div>
    </div>
    
</body>
</html>